*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  }

body {
    margin: 0px;
    color: rgb(5, 45, 73);
    font-family: Montserrat,Roboto,sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 100vh;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

img[alt=profile-photo] {
  width: 350px;
  -webkit-box-shadow: 22px 22px 0 var(--primary-brown);
  box-shadow: 22px 22px 0 var(--primary-brown);
}


ul {
  list-style-type: none;
  padding: 0;
}